     <div class="container theme-showcase" role="main">
 <div class="jumbotron">
                      <img align="right" width="100" height="100" src="assets/cluster.png" />

      <h1>WARGS</h1>
        <p>Multi Dimensional News Summarization</p>
        <center>
<form id="searchForm" class="form-inline" role="form" action="<%= wargs_path %>" >
  <div class="form-group">
    <label for="searchItem" class="sr-only"></label>
    <input style="width:600px" class="form-control" id="searchItem" name= "searchItem" placeholder="Type here to search">
  </div>
 
  <button type="button" id="submitButton" class="btn btn-primary">Search</button>
</form>
<script type="text/javascript">
document.getElementById("submitButton").onclick = function(){

if (document.getElementById("searchItem").value == "" )
{
  alert("Please enter a search item");
}
else
{
  document.getElementById("searchForm").submit();
}
}
</script>

</div>
</center>
       <% 
       if @queryResult.nil?
%>
           <center>  <h3> OOPS !! We could not get an insight on that !! <h3>
          <img src="/assets/oops.jpg"  />

         <center>
          <%
       else
        docs = @queryResult['response']['docs']
       docSize =  @queryResult['response']['docs'].size
       clusters =  @queryResult['clusters']
       clusters = clusters.sort { |x,y| y['score'] <=> x['score'] }
       topics= clusters.size %> 


       <br/>
<div class="row">
        <div class="col-md-1"></div>
  <div class="col-md-7"> <a href="<%= insight_path %>?searchItem=<%= @queryResult['responseHeader']['params']['q'] %>&insight=topics" class="btn btn-success btn-lg" role="button">Topics Related to <%= @queryResult['responseHeader']['params']['q'] %> </a> </td></div>
  <div class="col-md-4"><a href="<%= insight_path %>?searchItem=<%= @queryResult['responseHeader']['params']['q'] %>&insight=events" class="btn btn-danger btn-lg" role="button">Events Related to <%= @queryResult['responseHeader']['params']['q'] %> </a></div>
</div>
       <br/>

<% if @spellCorrected && @spellCorrected['status'] == true %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <b style="font-size : 14px">We could not find anything matching <u><%= @spellCorrected['previousQuery']  %> </u></b>
</div>

<% end %>

<h4><p>Showing Results for : <u><%= @queryResult['responseHeader']['params']['q'] %> </u> </p> </h4>
<h4 > Total Search Results : </strong>
       <%= @queryResult['response']['numFound'] %> </h4>

<br/>
  <% if @insight=="topics" %> 

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist" >

     <li role="presentation" style = " background-color: rgba(86,61,124,.15) "   class="active" ><a target="_blank" href="#<%= clusters[0]['labels'][0].gsub(" ", "").gsub("\'" , "") %>" aria-controls="<%= clusters[0]['labels'][0].gsub(" ", "").gsub("\'" , "") %>" role="tab" data-toggle="pill"><%= clusters[0]['labels'][0] %></a></li>
   
    <% 
    j = 1
    while j < topics do

      %>
    <li role="presentation"  style = " background-color: rgba(86,61,124,.15)  "  ><a target="_blank" href="#<%= clusters[j]['labels'][0].gsub(" ", "").gsub("\'" , "") %>" aria-controls="<%= clusters[j]['labels'][0].gsub(" ", "").gsub("\'" , "") %>" role="tab" data-toggle="pill"><%= clusters[j]['labels'][0] %></a></li>
        <% 
        j = j + 1
        end %>

      </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="border:1px solid #e1e1e8 ;">
    <div role="tabpanel" style= "padding-left:10px; margin-left:10px" class="tab-pane active fade in" id="<%= clusters[0]['labels'][0].gsub(" ", "").gsub("\'" , "") %>">
      <p></p>
<% clusters[0]['docs'].each { |labeldoc| %> 
        <p style = "border-bottom: 1px solid #cdbfe3">
         
               <a target="_blank" href='<%= labeldoc %>' ><%
              p = 0
              while p < docSize do
                  if docs[p]['url'] == labeldoc
                    %>
                      <p style="font-weight:bold;"> <%= docs[p]['title'] %> <p>
                        </a>
                      <div style="border-left:2px solid #f0ad4e; padding:10px"> 

 <%  @queryResult['highlighting'].each { |highlightedDoc|
              if highlightedDoc[0] == docs[p]['url']
            %>
                    <p><%=  highlightedDoc[1]['content'][1].html_safe %></p>
                    <%  
                  end
                  }   %>
                       </div>
                      <br/>
                    <%
                  end
                  p = p + 1
              end
                
                %>  
                <p style ="color : #6f5499"><%= labeldoc %><p>
            
            </p>
            <% } %>
    </div>

        <% j=1
        while j < topics do
         %>

    <div role="tabpanel"  style= "padding-left:10px; margin-left:10px" class="tab-pane fade  " id="<%= clusters[j]['labels'][0].gsub(" ", "").gsub("\'" , "") %>">
      <p></p>
<% clusters[j]['docs'].each { |labeldoc| %> 
        <p style = "border-bottom: 1px solid #cdbfe3">
         
               <a  target="_blank" href='<%= labeldoc %>' ><%
              p = 0
              while p < docSize do
                  if docs[p]['url'] == labeldoc
                    %>
                      <p style="font-weight:bold;"> <%= docs[p]['title'] %> <p>
                        </a>
                      <div style="border-left:2px solid #f0ad4e; padding:10px"> 
<%  @queryResult['highlighting'].each { |highlightedDoc|
              if highlightedDoc[0] == docs[p]['url']
            %>
                    <p><%=  highlightedDoc[1]['content'][1].html_safe %></p>
                    <%  
                  end
                  }   %>
                      </div>
                      <br/>
                    <%
                  end
                  p = p + 1
              end
                
                %>  
                <p style ="color : #6f5499"><%= labeldoc %><p>
            
            </p>
            <% } %>
    </div>
            <%
            j = j + 1
             end 
            

            end %>



  </div>
<% end %>

 <div class="container theme-showcase" role="main">

  <% if @insight=="events"
      
      %>
    <table  style= "padding-left:10px; margin-left:10px">
      <p></p>
<% @docs_withDates.each { |event_doc| %> 
<tr> <td>
        <p style = "border-bottom: 1px solid #cdbfe3">
         
               <a  target="_blank" href='<%= event_doc['url'] %>' ><%
              p = 0
              while p < docSize do
                  if docs[p]['url'] == event_doc['url']
                    %>
                      <span style="font-weight:bold;"> <%= docs[p]['title'] %> </span> </a> 
                      <span style="float:right">  <%= docs[p]['toShow_timeLapsed'] %> </span> 
                        <p style="font-weight:bold;color:#6f5499" >  <%= docs[p]['toShow_FormatedDate'] %>   <p>
                      <div style="border-left:2px solid #f0ad4e; padding:10px"> 
<%  @queryResult['highlighting'].each { |highlightedDoc|
              if highlightedDoc[0] == docs[p]['url']
            %>
                    <p><%=  highlightedDoc[1]['content'][1].html_safe %></p>
                    <%  
                  end
                  }   %>
                       </div>
                      <br/>

                
<div class="">
      <span style ="font-size:12px; color : #6f5499; "><%= event_doc['url'] %><span> | <a style="font-size:12px; color:#d9534f" class="collapsed" data-toggle="collapse" data-parent="#accordion<%= p %>" href="#collapseTwo<%= p %>" aria-expanded="false" aria-controls="collapseTwo">
 <b>+Related news suggestions</b>       </a> 
    <div id="collapseTwo<%= p %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
      <div class="panel-body">
        <a href = "<%= @moreLikeThisRes[ docs[p]['id'] ][0]['id'] %>"> <%= @moreLikeThisRes[ docs[p]['id'] ][0]['title']  %> </a><br/>
        <a href = "<%= @moreLikeThisRes[ docs[p]['id'] ][1]['id'] %>"> <%= @moreLikeThisRes[ docs[p]['id'] ][1]['title']  %> </a>
       </div>
    </div>
  </div>


                    <%
                  end

                  p = p + 1
              end
                
                %>  

            </p>
            </tr></td>
            <% } %>
    </table>
            
    
  <% end %>

</div>

<br/>


 </div>
